.navbar {
  overflow: hidden;
  background-color: #4277bb;
  position: fixed; 
  top: 20%; 
  width: 100%; 
}

.navbar a {
  float: left;
  display: block;
  color: #4277bb;
}

.kezdetiszoveg{
text-align: center;
margin-top: 3.5%;
margin-bottom: 3.5%;
}

.row img{
width: 70%;
}

.row{
  text-align: center;

}

.col-sm{
  border-style: solid;
  border-color: #4277bb;
  background-color: white;
  color: #4277bb;
  border-radius: 5px;
  margin-right: 1.5%;
  margin-left: 1.5%;
}

.col-sm p{
  text-decoration: none;
}

.col-sm p:hover{
  transition: 250ms;
  color: white;
}

.col-sm:hover{  transition: 250ms;
  background-color: #4277bb;
  color: white;
  }


.borderek{
  border-style: solid;
  background-color:#ebf1f8;
  border-color:#ededed;
  padding: 3%;
  border-radius: 1px;
  
}

.borderek{
  margin-bottom: 5%;
}




